# ==========================================================
# Python
# ==========================================================

.venv/
__pycache__/
*.py[cod]
*.pyo

# ==========================================================
# Environment / Secrets
# ==========================================================

.env
.env.*

# ==========================================================
# Jupyter
# ==========================================================

.ipynb_checkpoints/

# ==========================================================
# macOS
# ==========================================================

.DS_Store

# ==========================================================
# Project Data
# ==========================================================

data/raw/
data/processed/

# ==========================================================
# Local Databases
# ==========================================================

*.db
*.sqlite
*.sqlite3

# ==========================================================
# Streamlit
# ==========================================================

.streamlit/

# ==========================================================
# Logs
# ==========================================================

*.log